<div class="container">

<div class="row">

<div class="span4">
<h2>[% journal.description | html  %]</h2>
<h3><a href="[% c.uri_for('~' _ journal.user.nickname _ '/' ) %]">[% journal.user.nickname |
        html %]</a> on [% journal.date | html %]</h3>
</div> <!-- /span4 -->


<div class="span8">
<p>[% journal.article_html %]</p>
</div> <!-- /span8 -->

</div> <!-- row -->
</div> <!-- /container -->

